<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1044130592051-ap2dvmsd82mc7bc8q76ls9gu18vfvaqn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cartrekk</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1044130592051-ap2dvmsd82mc7bc8q76ls9gu18vfvaqn.apps.googleusercontent.com</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>needs access to save route photos to your camera roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gotta save the photos to photos</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
